.container{
    height:100vh;
    display:grid;
    gap:5px;

    grid-template-columns:2fr 0.7fr 0.5fr;
    grid-template-rows:80px 1fr 80px;
}

.header{
    background:rgb(52, 240, 27);
    grid-column:1/4;
    grid-row:1/2;
}

.article{
    background:rgb(52, 240, 27);
    grid-column:1/2;
    grid-row:2/3;
}

.nav{
    background:rgb(52, 240, 27);
    grid-column:2/3;
    grid-row:2/4;
}

.ads{
    background:rgb(52, 240, 27);
    grid-column:3/4;
    grid-row:2/4;
}

.footer{
    background:rgb(52, 240, 27);
    grid-column:1/2;
    grid-row:3/4;
}
.next-btn{
    position:fixed;
    bottom:30px;
    right:30px;

    padding:15px 35px;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
    color:white;

    background:linear-gradient(135deg,#667eea,#764ba2);
    border-radius:50px;

    box-shadow:0 8px 20px rgba(0,0,0,0.3);

    transition:all 0.3s ease;
}

.next-btn:hover{
    transform:translateY(-5px) scale(1.05);
    box-shadow:0 12px 25px rgba(0,0,0,0.4);
}